@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif !important;
  height: 100%;
  width: 100%;
  position: relative;

  #root {
    height: 100%;
    display: flex;
  }

  .header {
    height: 56px;
    border-bottom: 1px solid #e8e8e8;
    align-items: center;

    img {
      height: 24px;
    }
  }

  .sidebar {
    overflow-y: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 8px 0;

      li {
        margin: 8px 0;

        .sideNav-item {
          a {
            text-decoration: none;
          }
        }
      }

      .side-nav-btn {
        height: 42px;
        background-color: transparent;
        color: var(--bg-color-1);
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 16px 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;

        &:hover {
          background-color: #e8e8e8;
        }
      }

      .side-nav-content {
        padding-top: 0.25rem;
        height: 0;
        overflow: hidden;
        margin-left: 2rem;
      }

      .open .side-nav-content {
        height: auto;
      }
    }
  }

  .profile {
    .userImg {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border: 1px solid #0858f7;
      padding: 2px;
      border-radius: 100%;

      .rounded-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .MuiInputBase-root {
      height: 42px !important;

      .MuiInputBase-input {
        padding: 9.5px 14px;
      }
    }

    .MuiFormLabel-root {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .MuiFormLabel-root {
    font-size: 14px;
    font-weight: 500;
  }

  .login-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/login-img.jpg');
    background-size: cover;
    .login-background{
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-body {
      width: 500px;
      background-color: #fff;
      padding: 58px 40px;
      border-radius: 16px;
    }
    .login-logo{
      height: 60px;
    }
  }

  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;
      padding: 1rem;
      gap: 16px;

      .modal-header {
        display: flex;
        justify-content: space-between;
      }

      .modal-footer {
        display: flex;
        gap: 8px;
      }
    }
  }

  .main-body-container {
    .container-fluid {
    //   max-width: 1256px;

      .MuiFormControl-root {
        width: 100%;
        margin: 0 !important;
        max-width: inherit !important;
      }
    }
  }

  .MuiFormControl-root {
    .MuiInputBase-root {
      height: 32px !important;
      .MuiInputBase-input {
        padding: 0 16px !important;
        height: 32px !important;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: "Inter", sans-serif !important;
      }
      .MuiOutlinedInput-notchedOutline {
        height: 32px !important;
        top: 0;
        legend{
          display: none;
        }
      }
    }
    .MuiFormLabel-root {
      color: rgba(0, 0, 0, 0.6);
      font-family: "Inter", sans-serif !important;
      font-weight: 500;
      font-size: 13px;
      line-height: normal;
      padding-bottom: 4px !important;
      letter-spacing: 0.00938em;
      padding: 0;
      position: relative;
      display: block;
      transform-origin: unset;
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
      max-width: calc(133% - 32px);
      position: relative;
      transform: inherit;
      transition: inherit;
      z-index: 1;
      pointer-events: auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .MuiFormHelperText-root{
      font-family: "Inter", sans-serif !important;
      margin-left: 0;
      font-size: 11px;
    }
  }

  .MuiFormGroup-root{
    .MuiFormControlLabel-root{
      .MuiFormControlLabel-label{
        font-family: "Inter", sans-serif !important;
        font-size: 13px;
      }
    }
  }

  h5{
    margin-bottom: 0;
  }

  .ag-theme-quartz{
    font-family: "Inter", sans-serif !important;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .add-order-card{
    .card-body{
      height: 400px;
      .MuiFormGroup-root{
        .MuiFormControl-root{
          flex-direction: row !important;
          gap: 8px;
          align-items: center;
          flex-grow: 1;
            .MuiFormLabel-root{
              padding-bottom: 0 !important;
            }
        }
      }
      .checkbox-container{
        display: flex;
        align-items: center;
      }
      fieldset{
        padding-left: 12px;
      }
    }
  }
  .otp-area {
    width: 70%;
    margin: 20px auto;
    display: flex;
    gap: 10px
  }
  .otp-input {
    width: 50px;
    padding: 10px;
    outline: none;
    text-align: center;
  }

  .edit-peice-prices-card{
    .card-body{
      height: 500px;
    }
  }
  .add-edit-modal{
    max-width: 700px;
    height: 100vh;
    .modal-content{
      height: 600px;
      width: 700px;
      .MuiFormControl-root{
        width: 100%;
      }
    }
  }
  .backdrop{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(245, 245, 247, .8);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
  }

  .loading-image{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="%23000000" stroke="%23000000" stroke-width="15" stroke-linejoin="round" width="30" height="30" x="85" y="85" rx="0" ry="0"><animate attributeName="rx" calcMode="spline" dur="2" values="15;15;5;15;15" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="ry" calcMode="spline" dur="2" values="15;15;10;15;15" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="height" calcMode="spline" dur="2" values="30;30;1;30;30" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="y" calcMode="spline" dur="2" values="40;170;40;" keySplines=".6 0 1 .4;0 .8 .2 1" repeatCount="indefinite"></animate></rect></svg>');
  }

  .check-btn{
    color: #0e8345;
  }
  .font-weight-bold{
    font-weight: 600;
  }
  .add-day-end-modal{
    .MuiFormControl-root{
      width: 100% !important;
    }
  }
  #simple-popover{
    z-index: 200;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    .popover-otp-container{
      background-color: var(--bg-color-2);
      border-radius: 16px;
      padding: 32px;
      border: 1px solid rgba(0, 0, 0, 0.26);
      box-shadow: 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f;
    }
  }
  .otp-add-btn{
    margin-top: 19.5px;
  }
}