@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif !important;
  height: 100%;
  width: 100%;

  #root {
    height: 100%;
    display: flex;
  }

  .header {
    height: 56px;
    border-bottom: 1px solid #e8e8e8;
    align-items: center;

    img {
      height: 24px;
    }
  }

  .sidebar {
    ul {
      list-style: none;
      padding: 0;
      margin: 8px 0;

      li {
        margin: 8px 0;

        .sideNav-item {
          a {
            text-decoration: none;
          }
        }
      }

      .side-nav-btn {
        height: 42px;
        background-color: transparent;
        color: var(--bg-color-1);
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 16px 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;

        &:hover {
          background-color: #e8e8e8;
        }
      }

      .side-nav-content {
        padding-top: 0.25rem;
        height: 0;
        overflow: hidden;
        margin-left: 2rem;
      }

      .open .side-nav-content {
        height: auto;
      }
    }
  }

  .profile {
    .userImg {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border: 1px solid #0858f7;
      padding: 2px;
      border-radius: 100%;

      .rounded-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .MuiInputBase-root{
      height: 42px !important;
      .MuiInputBase-input {
        padding: 9.5px 14px;
      }
    }
    .MuiFormLabel-root{
      top: -4px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .MuiFormLabel-root{
    top: -4px;
    font-size: 14px;
    font-weight: 500;
  }
  .login-container{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     .login-body{
        width: 400px;
     }
  }
  .modal-dialog{
    max-width: 500px;
    margin: 1.75rem auto;
    .modal-content{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;
      padding: 1rem;
      gap: 16px;
      .modal-header{
        display: flex;
        justify-content: space-between;
      }
      .modal-footer{
        display: flex;
        gap: 8px;
      }
    }
  }

  .main-body-container{
    .container-fluid{
      max-width: 1256px;
      .MuiFormControl-root{
        width: 100%;
      }
    }
  }
}
