.primary-button{
    height: 42px;
    background-color: var(--bg-color-1);
    color: var(--bg-color-2);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.secondary-button{
    height: 42px;
    background-color: #E8E8E8;
    color: var(--bg-color-1);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button-sm{
   @extend .primary-button;
    height: 32px;
    padding: 8px 7px;
    font-size: 14px;
    font-weight: 500;
}